<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <h2>Counter</h2>
        <%= count %> times <br>
        <form class="" action="two" method="post">
          <button type="submit" >+2 counter</button>
        </form>
        <form class="" action="/reset" method="post">
          <button type="submit" name="button">reset</button>
        </form>
    </center>
  </body>
</html>
