<a href="/bright_ideas">Bright Ideas</a><br />
Name: <%= @user_show.name %><br />
Alias: <%= @user_show.alias %><br />
Email: <%= @user_show.email %> <br />
<hr />
Total number of Posts: <%= @user_show.ideas.count %>
