<h1></h1>
Host:
Date:
Location:
People who are Joining the event

<table class="table">
	<thead>
		<th>Name</th>
		<th>Location</th>
		<th>State</th>
	</thead>
	<tbody>
		<% @my_state_events.each do |e| %>
		<tr>
			<td><%= e.name %></td>
			<td><%= e.date %></td>
			<td><%= e.location %></td>
		</tr>
		<% end %>

	</tbody>
</table>
