<h1>Login</h1>
<form action="/sessions" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="Email"></label>
  Email: <input type="email" name="email" id="Email"><br />
  <label for="Password"></label>
  Password: <input type="password" name="password" id="Password"><br />
  <button type="Submit" name="button" value="Log In">Login</button>
</form>
