/* header color #d72738
  JS FONT HEADER + content #bfd7ea;
  background #13355b
  navbar #0a7e8b;
  main content #0c1821;
  link color #3bcfe0;
  code color #3e4b80;

  */

body {
  background-color: #13355b;
  width: 1200px;
}

#header {

background-color: #d72638;
height: 80px;
border-radius: 8px;
width: 1200px;
margin-bottom: 18px;

}

#header h1 {
color: #bfd7ea;
padding: 20px;

}

#navbar {

  background-color: #0a7e8b;
  border-radius: 20px;
  display: inline-block;
  width: 230px;
  height: 230px;

}

#navbar a, a{
  color: #3bcfe0;
}

#navbar li {
  color: white;
}

#maincontent {
background-color: #0c1821;
color: #bfd7ea;
border-radius: 20px;
display: inline-block;
height: 560px;
width: 910px;
vertical-align: top;
margin-left: 20px;
padding: 20px;


}
#contentlinks p, #contentlinks li {

display: inline;

}


#code-color {

  color: #737ff1;

}


#footer {

  margin-top: 20px;
  background-color: #5d6572;
  color: #bfd7ea;
  border-radius: 20px;
  padding: 7px;
}
