<h2>List of Rabbits</h2>


<form action="/rabbits" method="post">
Name: <input type="text" name="name"><br>
Color: <input type="text" name="color"><br>
<button type="submit">Add New Bunny</button>
</form>
