<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Bunny ID: <%= one.id %> <br>
    Bunny Name: <%= one.name %><br>
    Bunny Color <%= one.color %><br>
  </body>
</html>
