<form  action="/process" method="post">
Email<input type="text" name="email"><br />
first name <input type="text" name="first_name" /><br />
last name <input type="text" name="last_name" /><br />
password <input type='text' name="password" /><br /><br />
confirm password <input type='text' name="confirm_password" /><br />
<button type="submit">Submit form</button>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{message}}
    {% endfor %}
  {% endif %}
{% endwith %}
