<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users New</title>
  </head>
  <body>
    <h1>Add A New User</h1>
    <form action="/users/create" method="POST">
      {% csrf_token %}
      First Name: <input type="text" name="first_name" /><br />
      Last Name: <input type="text" name="last_name" /><br />
      Email: <input type="text" name="email" /><br />
      <button type="submit">Create</button>
    </form>
    <br />
    <br />
    <a href="../users">Go Back</a>
  </body>
</html>
