<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
Submitted Information: <br>
Name: <%= name %><br>
Dojo Location: <%= location %><br>
Language: <%= language %><br>
<%= comment %>

<a href="/">Go Back</a>
  </body>
</html>
