<h1>List of Products</h1>


<% @products.each do |products| %>
  <tr>
    <td>
      <%= products.name =%>
      <%= products.description =%>
    </td>
  </tr><br />
<% end %>

<h2>Create new product for DB</h2>
<form action="/products" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="name"><br />
    <textarea name='description'></textarea><br />
    <input type='submit' value='Create'>
</form>
