<h1>Register</h1>
<form action="/users/create" method="POST">

  Email: <input type="email" name="email" value=""><br />
  First Name: <input type="text" name="first_name" value=""><br>
  Last Name: <input type="text" name="last_name" value="">
  Password: <input type="password" name="password" value=""><br />
  Confirm Password: <input type="password" name="password" value=""><br />
  Birthday <input type="date" name="" value="">
  <button type="Submit" name="button">Register</button>
</form>

<h1>Login</h1><br />
<form action="/sessions/new" method="POST">

  Email: <input type="email" name="email" id="Email"><br />
  <label for="Password"></label>
  Password: <input type="password" name="password" id="Password"><br />
  <button type="Submit" name="button" value="Log In">Login</button>
</form>
