* {

  margin: 0;
  padding: 0;
  font-family: arial;
}
body {
  width: 1000px;
}

#top-main-content {
  background-color: #1a5274;
  height: 500px;


}
#top {
  color: white;
}

#top img {

  width: 380px;
  margin-left: 20px;
  margin-top: 20px;

}
#search {
   display: inline-block;
   vertical-align: top;
    margin-top: 20px;
    margin-left: 280px;
}

#search-box {

  background-color: #454545;
  width: 240px;
  height: 27px;
  padding: 21px;
  border-radius: 15px;
  box-shadow: 2px 2px black;


}

#search-box input {

  height: 30px;
  width: 170px;
  text-align: center;
  margin-left: 10px;

}

#search p {

  font-size: 14px;
  font-weight: lighter;
  margin-left: 70px;
  margin-bottom: 8px;
}

#search button {
  color: white;
  background-color: #195274;
  height: 34px;
  width: 45px;
  margin-left: 7px;
  box-shadow: 2px 2px gray;
}

.nl{
  color: #d1b05a;
  text-decoration: underline;
}
#symbol {
  color: black;
}

#navbar {
  background-color: #337da9;
  height: 15px;
  width: 850px;
  border-radius: 9px;
  margin-left: 35px;
  padding: 20px;
  box-shadow: 2px 2px black;
}

#navbar li {

  display: inline;
  color: white;
  font-size: 18px;
  margin-left: 45px;
  font-weight: lighter;

}

#links {

  margin-left: 90px;
  text-align: center;
  width: 150px;
  display: inline-block;
}
#links a{
color: white;

}

#links li {

  margin-top: 20px;
  margin-bottom: 10px;
  list-style-type: none;
}
#content {

  color: white;
  font-size: 12px;
  text-align: center;
  width: 500px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 90px;
}
#poem h3{

  margin-top: 17px;
  color: #d1b05a;
  font-style: italic;
  font-size: 16px;
}
#poem p {

  font-size: 15px;
  margin-top: 10px;
}

#white-left, #white-right{

  width: 400px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-top: 30px;
}
#white-content hr {
  border: 1.5px solid #67a2ce;
  width: 300px;
  margin: 10px auto;
}

#white-content {

  margin-left: 90px;
}
#white-left a, #white-right a {

  color: #6fa5cd;
  margin-top: 10px;
}
#footer {

  margin-top: 20px;
  display: block;
  width: 1000px;
  height: 70px;
  background-color: #1a5274;
  color: #7db0d7;
}
#footer h3 {

  display: inline-block;
  margin-left: 70px;

}
#footer p {
  margin-left: 370px;
  margin-top: 20px;
}
